<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{title}}</title>
    <!-- This is the Bulma CSS -->
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css' />
    <!-- Custom CSS -->
    <link rel='stylesheet' href='./css/styles.css' />
  </head>
  <body>
    <header>
      <nav class='navbar is-primary'>
        <div class='navbar-brand'>
          <a class='navbar-item' href='/'>
            Travel Guide
          </a>
          <a class='navbar-item' href='/'>Home</a>
          {{#if logged_in}}
            <a class='navbar-item' href='/profile'>Your Destinations</a>
            <a class='navbar-item' href='/newBlog'>Add Destination</a>
          {{/if}}

        </div>
        <div class='navbar-menu'>
          <div class='navbar-start'>

          </div>
          <div class='navbar-end'>
            {{#if logged_in}}
              <div class='navbar-item is-align-self-flex-end'>
                <form action='/api/users/logout' method='POST'>
                  <button type='submit' class='button is-light'>Logout</button>
                </form>
              </div>
            {{else}}
              <a class='navbar-item' href='/register'>Register</a>
            {{/if}}
          </div>
        </div>
      </nav>
    </header>

    <main class='section'>
      <div class='container'>
        {{{body}}}
      </div>
    </main>

    <footer class='footer'>
      <div class='content has-text-centered'>
        <p>&copy; 2024 Travel Guide. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>