<form action="/api/users/login" method="POST">
  {{#if errorMessage}}
    <div class="notification is-danger">
      {{errorMessage}}
    </div>
  {{/if}}
  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input class="input" type="email" name="email" required>
    </div>
  </div>
  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input class="input" type="password" name="password" required>
    </div>
  </div>
  <div class="control">
    <button class="button is-primary" type="submit">Login</button>
  </div>
</form>

<p>Don't have an account? <a href="/register">Register here</a></p>
